In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('full_nyt_dataset_raw.csv')
df.head()

,headline,date,doc_type,material_type,section,abstract,first_paragraph,keywords,web_url
0,Trump’s Book Club: A President Who Doesn’t Rea...,2018-12-01,article,News,NaN,"President Trump, who is not a reader, has used...","WASHINGTON — President Trump, a leader who is ...","['Books and Literature', 'United States Politi...",https://www.nytimes.com/2018/11/30/us/politics...
1,Kareem Hunt Is Cut by the Chiefs After a Video...,2018-12-01,article,News,NaN,"Hunt, a star running back, was also suspended ...",The Kansas City Chiefs cut their star running ...,"['Football', 'Domestic Violence']",https://www.nytimes.com/2018/11/30/sports/kare...
2,Agency Pulls Back on Its Warning Against Talk ...,2018-12-01,article,News,NaN,Casual conversations about impeachment and inv...,"WASHINGTON — An independent government agency,...",['Hatch Act (1939)'],https://www.nytimes.com/2018/11/30/us/politics...
3,A China Hawk Gains Prominence as Trump Confron...,2018-12-01,article,News,NaN,"Michael Pillsbury, the president’s top outside...",WASHINGTON — Michael Pillsbury had just finish...,"['United States International Relations', 'Uni...",https://www.nytimes.com/2018/11/30/us/politics...
4,Wilmer Flores Is a Met No More,2018-12-01,article,News,NaN,"A fan favorite, Flores did not receive a contr...","The Mets parted ways with a fan favorite, Wilm...",['Baseball'],https://www.nytimes.com/2018/11/30/sports/wilm...

In [4]:
n = len(df)
n

198833

## Percent without First Paragraph

In [45]:
# dataset with less than 20 characters considered insufficient for first paragraph
no_first_paragraph = df[df['first_paragraph'].str.len() <= 10]
n_no_first_paragraph = len(no_first_paragraph)
no_first_paragraph

,headline,date,doc_type,material_type,section,abstract,first_paragraph,keywords,web_url
135,Word + Quiz: enigma,2018-12-03,article,News,NaN,This word has appeared in 112 articles on NYTi...,_________,[],https://www.nytimes.com/2018/12/03/learning/03...
261,Word + Quiz: pique,2018-12-04,article,News,NaN,This word has appeared in 199 articles on NYTi...,_________,[],https://www.nytimes.com/2018/12/04/learning/04...
403,Word + Quiz: detritus,2018-12-05,article,News,NaN,This word has appeared in 86 articles on NYTim...,_________,[],https://www.nytimes.com/2018/12/05/learning/05...
518,Word + Quiz: egregious,2018-12-06,article,News,NaN,This word has appeared in 334 articles on NYTi...,_________,[],https://www.nytimes.com/2018/12/06/learning/06...
673,Word + Quiz: peregrinate,2018-12-07,article,News,NaN,This word has appeared in 39 articles on NYTim...,_________,[],https://www.nytimes.com/2018/12/07/learning/07...
...,...,...,...,...,...,...,...,...,...
197905,Word + Quiz: sodden,2017-03-24,article,News,NaN,This word has appeared in 29 New York Times ar...,_________,[],https://www.nytimes.com/2017/03/24/learning/24...
198201,Word + Quiz: hortatory,2017-03-27,article,News,NaN,This word has appeared in six New York Times a...,_________,[],https://www.nytimes.com/2017/03/27/learning/27...
198322,Word + Quiz: burlesque,2017-03-28,article,News,NaN,This word has appeared in six New York Times a...,_________,[],https://www.nytimes.com/2017/03/28/learning/28...
198426,Word + Quiz: discrepancy,2017-03-29,article,News,NaN,This word has appeared in 153 New York Times a...,_________,[],https://www.nytimes.com/2017/03/29/learning/29...
198551,Word + Quiz: supposititious,2017-03-30,article,News,NaN,This word has appeared in three New York Times...,_________,[],https://www.nytimes.com/2017/03/30/learning/30...

In [55]:
n_no_first_paragraph

1244

In [46]:
pct_no_first_paragraph = n_no_first_paragraph/n *100
pct_no_first_paragraph

0.6256506716691898

## Percent without Abstract

In [54]:
no_abstract = df[df['abstract'].str.len() <= 10]
n_no_abstract = len(no_abstract)
no_abstract

,headline,date,doc_type,material_type,section,abstract,first_paragraph,keywords,web_url
1358,5 Cheap(ish) Things for Cold Weather Running,2018-12-13,article,News,NaN,Brrrrr.,Welcome to the Smarter Living newsletter! Sign...,"['Gifts', 'Christmas']",https://www.nytimes.com/2018/12/13/smarter-liv...
2047,5 Cheap(ish) Things for a Romantic Date Night,2018-12-20,article,News,NaN,Cuuuuute!,Welcome to the Smarter Living newsletter. We e...,[],https://www.nytimes.com/2018/12/19/smarter-liv...
11924,Wait … Is Twitter Good Now?,2020-04-22,article,News,NaN,Sort of.,We spend a lot of our days chatting with each ...,"['Social Media', 'Computers and the Internet']",https://www.nytimes.com/2020/04/22/style/twitt...
33107,A devastated Native American community shows t...,2020-10-08,article,News,NaN,.,The coronavirus has torn through the Mississip...,['internal-essential'],https://www.nytimes.com/2020/10/08/world/a-dev...
33120,"Today’s polls, as we get them.",2020-10-08,article,News,NaN,Oct. 8,Oct. 8,[],https://www.nytimes.com/2020/10/08/upshot/toda...
34133,"Today’s polls, as we get them.",2020-10-16,article,News,NaN,Oct. 16,Oct. 16,[],https://www.nytimes.com/2020/10/16/upshot/toda...
46175,Why Does My Kid Prefer My Partner?,2020-03-04,article,News,NaN,Rude.,A lot of parenting questions boil down to: Is ...,"['Parenting', 'Children and Childhood', 'Psych...",https://www.nytimes.com/2020/03/04/parenting/w...
53694,Her Ex Won’t Stop Texting. And That Makes Me t...,2019-06-13,article,News,NaN,Not quite.,My girlfriend and I have been dating for six m...,"['Customs, Etiquette and Manners']",https://www.nytimes.com/2019/06/13/style/ex-bo...
57183,Friday Night Music: Dakhabrakha in Kyiv,2017-09-15,article,News,NaN,Hats!,"Since that’s where I am at the moment. It is, ...",[],https://krugman.blogs.nytimes.com/2017/09/15/f...
65429,We’re Still Smarter Than Computers,2020-11-25,article,News,NaN,For now.,This article is part of the On Tech newsletter...,"['Television', 'Artificial Intelligence']",https://www.nytimes.com/2020/11/25/technology/...
97295,Tassi the Goat Gives Birth to Goat Twins Durin...,2018-05-24,article,News,NaN,Surprise!,"Megan Kibby, 33, said she never expected to be...","['Goats', 'Twins']",https://www.nytimes.com/2018/05/24/style/goat-...
102513,Police Misconduct & Racial Injustice in 2020,2021-03-11,article,News,NaN,,Rarely has deadly police misconduct been so gr...,[],https://www.nytimes.com/2021/03/11/video/ZRfl8...
152592,Challenge With Gusto,2017-12-02,article,News,NaN,Mark Diehl,"SATURDAY PUZZLE — A brief one today, because I...",['Crossword Puzzles'],https://www.nytimes.com/2017/12/01/crosswords/...
153804,"New Trailer: ‘The 15:17 to Paris,’ From Clint ...",2017-12-13,article,News,NaN,The,"In 2016, the director Clint Eastwood dramatize...",['Movies'],https://www.nytimes.com/2017/12/13/movies/trai...
158699,Rebuilding After Sandy: One Brick at a Time,2017-10-29,article,News,NaN,Business,Five years after New York City’s deadliest hur...,"['Hurricane Sandy (2012)', 'Real Estate and Ho...",https://www.nytimes.com/2017/10/29/nyregion/hu...
161146,"New Trailer: ‘A Wrinkle in Time,’ From Ava DuV...",2017-11-20,article,News,NaN,Ava,Even though Ava DuVernay’s name isn’t seen unt...,['Movies'],https://www.nytimes.com/2017/11/19/movies/a-wr...
169521,The Most Instagrammable Neighborhood in Americ...,2019-09-12,article,News,NaN,#dumbo,The view of the Manhattan Bridge from Dumbo ha...,"['Real Estate and Housing (Residential)', 'His...",https://www.nytimes.com/2019/09/12/nyregion/th...
189295,"In a closely watched New Hampshire primary, De...",2020-09-08,article,News,NaN,the,Democratic primary voters in New Hampshire wil...,[],https://www.nytimes.com/2020/09/08/us/election...
195443,Not needed,2017-03-02,article,News,NaN,Not needed,Articles in this series will look at steps bei...,['Floods'],https://www.nytimes.com/2017/03/02/nyregion/no...

In [53]:
print(n_no_abstract)

19

In [48]:
pct_no_abstract = n_no_abstract/n *100
pct_no_abstract

0.009555757847037464

In [43]:
missing_both = df[(df['first_paragraph'].str.len() <= 10) & (df['abstract'].str.len() <= 10)]
n_missing_both = len(missing_both)
missing_both

,headline,date,doc_type,material_type,section,abstract,first_paragraph,keywords,web_url
33120,"Today’s polls, as we get them.",2020-10-08,article,News,NaN,Oct. 8,Oct. 8,[],https://www.nytimes.com/2020/10/08/upshot/toda...
34133,"Today’s polls, as we get them.",2020-10-16,article,News,NaN,Oct. 16,Oct. 16,[],https://www.nytimes.com/2020/10/16/upshot/toda...

In [44]:
pct_missing_both = n_missing_both/n *100
pct_missing_both

0.001005869247056575

# Final Data Set For Model Use

In [80]:
# Getting indicies of data to be dropped
a_idx = no_abstract.index.to_list()
idx = no_first_paragraph.index.to_list()
both_idx = missing_both.index.to_list()
for i in a_idx:
    idx.append(i)
for i in both_idx:
    idx.append(i)
len(idx)

1265

In [82]:
final_data = df.drop(idx)
final_data.shape

(197572, 9)

In [83]:
final_data.to_csv('full_nyt_dataset.csv', index = False)